{% extends "base.html.twig" %}
{% block contenido %}
        <div class="container jumbotron text-center">
            <img src= "{{asset('img/logoAceara.jpg')}}"></img>
        </div>
    {% endif %}
{% endblock %}